<%# provide(:title, t("static_pages.contact.title")) %>
<h1>Hello Quynh Nhu</h1>
<p>
    <%= t("contact_page.content_part1") %>
    <a href="https://www.railstutorial.org/contact"><%= t("contact_page.content_part2") %></a>.
</p>
