<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>

<% if @microposts.any? %>
    <ul>
    <% @microposts.each do |micropost| %>
        <li><%= micropost.content %></li>
    <% end %>
    </ul>
<% else %>
    <p><%= t(".no_microposts") %></p>
<% end %>
